<div class="container flex">
  <div id="new-light" class="flex flex-center">
    <div>
      <h2>new light</h2>
      <input type="text" placeholder="name" ng-model="newLightName">
      <input type="text" placeholder="ip" ng-model="newLightIp">
      <button type="submit" ng-click="createLight()">create</button>
    </div>
  </div>
  <div id="light-list" class="flex flex-center">
    <div>
      <h2>lights list</h2>
      <select ng-model="lightsList" ng-options="light as light.name for light in lights track by light._id"></select>
      <button ng-click="fetchList()">Refresh</button>
    </div>
  </div>
</div>