<a href="/" id="go-home" class="fa fa-home pointer abs-right"></a>

<div class="container flex">
  <div id="light-details" class="flex flex-center dark-background half-page">
    <div id="light-details-form" class="flex flex-vertical">
      <input class="input-light" type="text" ng-model="light.name" style="font-size: 3vw;">
      <input class="input-light" type="text" ng-model="light.ip" style="font-size: 2vw;">
      <button class="btn-light" type="submit" ng-click="updateLight()">save</button>
      <button class="btn-light" ng-click="deleteLight()">delete</button>
      <div class="flex flex-horizontal manual-color">
        <button class="btn-red" ng-click="changeColor('red')">red</button>
        <button class="btn-green" ng-click="changeColor('green')">green</button>
        <button class="btn-yellow" ng-click="changeColor('yellow')">yellow</button>
      </div>
    </div>
  </div>

  <div id="light-projects" class="flex flex-center light-background half-page">
    <div id="light-projects-list" class="flex flex-vertical full-width">
      <h2>projects</h2>
      <div class="horizontal-line line-dark"></div>
      <div id="light-projects-list-list">
        <div class="list-project pointer no-select" ng-repeat="project in projects track by $index" ng-click="selectProject($index)">
          <div ng-show="project.selected" class="project-selected fa fa-check"></div>
          <span>{{project.title}}</span>
          <div ng-show="project.status == 'passing'" class="project-status passing"></div>
          <div ng-show="project.status == 'failing'" class="project-status failing"></div>
          <div ng-show="project.status == 'disabled'" class="project-status disabled"></div>
        </div>
      </div>
    </div>
  </div>
</div>